<!DOCTYPE html>
<html>
<head>
    <title>CKFinder 3</title>
    {% include "@CKSourceCKFinder/setup.html.twig" %}
</head>
<body>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
</body>
</html>
