<!DOCTYPE html>
<html>
<head>
    <title>CKFinder 3</title>
    {% include "@CKSourceCKFinder/setup.html.twig" %}
</head>
<body>
<div id="ckf-widget"></div>
<script>
    CKFinder.widget( 'ckf-widget', { width: 800, height: 600 } );
</script>
</body>
</html>
